{% extends 'forum/forum_base.html' %}
{% block content %}
	<table class="forum_desc">
		<tr>
			<th>Forum Name</th>
			<th>Most Recent Post</th>
			<th>Topics</th>
			<th>Posts</th>
			<th>Posts Today</th>
		</tr>
		{% for f in fora %}
			<tr>
				<td><span class="title"><a href="{{ url_for('forum.show_forum', forum_id=f.id) }}">{{ f.title }}</a></span>
					{% if f.subtitle %}<span class="subtitle">{{ f.subtitle }}</span>{% endif %}
				</td>
				<td>2015-11-27 18:15</td>
				<td>{{ f.threads.count() }}</td>
				<td>9901</td>
				<td>11</td>
			</tr>
			{{ f.threads.count() }}
	{% endfor %}

	</table>
{% endblock content %}