{% extends 'forum/forum_base.html' %}
{% block content %}
	<table class="forum_desc">
		<tr>
			<th>Forum Name</th>
			<th>Most Recent Post</th>
			<th>Topics</th>
			<th>Posts</th>
			<th>Posts Today</th>
		</tr>
		{% for forum in fora %}
			<tr>
				<td><span class="title"><a href="{{ url_for('forum.show_forum', forum_id=forum.id) }}">{{ forum.title }}</a></span>
					{% if forum.subtitle %}<span class="subtitle">{{ forum.subtitle }}</span>{% endif %}
				</td>
				<td>{{ forum.get_last_post() | datetime_filter }}</td>
				<td>{{ forum.threads.count() }}</td>
				<td>{{ forum.get_post_count() }}</td>
				<td>{{ forum.get_last_24_hour_post_count() }}</td>
			</tr>
	{% endfor %}

	</table>
{% endblock content %}