{% extends 'forum/forum_base.html' %}
{% block title %}
	[{{ super() }}] {{ g.title_ }}
{% endblock %}

{% block content %}
	<div class="forum_nav">
		<span class="breadcrumbs">
			<a href="{{ url_for('forum.forum_index') }}">
				Main Index
			</a> &raquo;
			<a href="{{ url_for('forum.show_forum', forum_id=forum_id) }}">
				{{ g.title_ }}
			</a>
		</span>
	</div>

</a>
	<div class="thread_container">
		<a href="{{ url_for('forum.new_thread', forum_id=forum_id) }}">
			<button>New Thread</button>
		</a>
	</div>
	<table class="forum_desc">
		<tr>
			<th>Subject</th>
			<th>Author</th>
			<th>Latest</th>
			<th>Replies</th>
			<th>Views</th>
		</tr>
		
		{%  for thread in threads %}
			<tr>
				<td><a href="{{ url_for('forum.view_thread', thread_id=thread.id) }}">{{ thread.title }}</a></td>
				<td>{{ thread.thread_author.username }}</td>
				<td>{{ thread.last_post }}</td>
				<td>{{ thread.replies }}</td>
				<td>{{ thread.views }}</td>
			</tr>

		{% endfor %}
		{% if not threads %}
		<tr><td>No threads</td></tr>
		{%  endif %}
	</table>
	</div>
{% endblock %}