{% extends 'forum/forum_base.html' %}
{% block title %}
	[{{ super() }}] {{ g.thread_data['title'] }}
{% endblock %}

{% block content %}
Ad<div class="forum_nav">
	<span class="breadcrumbs">
		<a href="{{ url_for('forum.forum_index') }}">
			Main Index
		</a> &raquo;
		<a href="{{ url_for('forum.show_forum', forum_id=g.thread_data['forum_id']) }}">
			{{ g.thread_data['forum'] }}
		</a> &raquo;
		<a href="{{ url_for('forum.view_thread', thread_id=g.thread_data['id']) }}">
			{{ g.thread_data['title'] }}
		</a>
	</span>
</div>{#<a href="{{ url_for('forum.new_thread', forum_id=forum_id) }}">#}
{#	<button>#}
{#		New Thread#}
{#	</button>#}
{#</a>#}
	<div class="post_container">
		<div class="thread_header">
			<button>Bookmark thread(soon)</button>
			<span class="reply"><button>Reply</button></span>
		</div>
		{% for post in posts %}
			<section class="post" post_id="{{ post.id }}">
				<span class="identity">
					<div class="user">
						<a href="{{ url_for('profile.view', username=post.post_author.username) }}">
						{{- post.post_author.username -}}
						</a>
					</div>
					<div class="post_count">Posts: {{ post.post_author.post_count }}</div>
					<div class="avatar"><img src="{{ post.post_author.avatar_url }}"></div>
					<div class="title">{{ post.post_author.avatar_text | safe }}</div>
					<div class="timestamp">{{ post.timestamp | forum_datetime }}</div>
				</span>
				<span class="post_body">
					{{ post.html_body | safe }}{{ lipsum() }}
				</span>
{#				<div class="footer">#}
{#					<span class="timestamp">{{ post.timestamp | forum_datetime }}</span>#}
{#					<span class="controls"></span>#}
{#				</div>#}
			</section>
{#			<a href="{{ url_for('forum.view_thread', thread_id=thread.id) }}">{{ thread.title }}</a>#}
{#			| {{ thread.author.username }} | {{ thread.last_post }} | {{ thread.views }}<br>#}

		{% endfor %}
	</div>
{% endblock %}