{% extends 'forum/forum_base.html' %}
{% block title %}
	[{{ super() }}] {{ g.thread_data['title'] }}
{% endblock %}

{% block content %}
	<div>
		<a href="{{ url_for('forum.forum_index') }}">
			Main Index
		</a> &raquo;
		<a href="{{ url_for('forum.show_forum', forum_id=g.thread_data['forum_id']) }}">
			{{ g.thread_data['forum'] }}
		</a> &raquo;
		<a href="{{ url_for('forum.view_thread', thread_id=g.thread_data['id']) }}">
			{{ g.thread_data['title'] }}
		</a>
	</div>
{#<a href="{{ url_for('forum.new_thread', forum_id=forum_id) }}">#}
{#	<button>#}
{#		New Thread#}
{#	</button>#}
{#</a>#}
	<div class="thread">
		{% for post in posts %}
			<section class="post">
				<div class="identity">
					<div>
						<a class="user" href="{{ url_for('profile.view', username=post.post_author.username) }}">
						{{- post.post_author.username -}}
						</a>
					</div>
					<div>Posts: {{ post.post_author.post_count }}</div>
					<img src="{{ post.post_author.avatar_url }}">
					<div>{{ post.post_author.avatar_text | safe }}</div>
					<div>{{ post.timestamp | forum_datetime }}</div>
				</div>
				<div class="post_body">
					{{ post.html_body | safe }}
				</div>
			</section>
{#			<a href="{{ url_for('forum.view_thread', thread_id=thread.id) }}">{{ thread.title }}</a>#}
{#			| {{ thread.author.username }} | {{ thread.last_post }} | {{ thread.views }}<br>#}

		{% endfor %}
	</div>
{% endblock %}