{% extends 'master.html' %}
{% block id %}
{% include 'profile/idbar.html' %}
{% endblock %}
{% block content %}
	{% block nav %}
		{% set active_page = 'edit' %}
		{% include 'profile/navigation.html' with context %}
	{% endblock %}
    <section class="control_panel">
    <form method=POST>
        <fieldset>
            <legend>Edit Profile for {{ current_user.username }}</legend>
            <div>{{ form.fullname.label }}{{ form.fullname }}</div>
            <div>{{ form.location.label }}{{ form.location }}</div>
            <div>{{ form.avatar_url.label }}{{ form.avatar_url }}</div>
            <div>{{ form.avatar_text.label }}{{ form.avatar_text }}</div>
	        <div>{{ form.time_zone.label }}{{ form.time_zone }}</div>
            {{ form.submit }}
            {{ form.csrf_token }}
        </fieldset>
    </form>

    <a href="{{ url_for('auth.change_password') }}"><button id="change_password">Change Password</button></a>
    {% if tfa  %}
	    <p>Two factor authentication enabled</p>
        <a href="{{ url_for('auth.disable_2fa') }}">
            <button id="disable_2FA">Disable 2 Factor Authentication</button>
        </a>
        <a href="{{ url_for('auth.generate_backup_codes', __METHOD_OVERRIDE__='POST') }}">
            <button id="backup codes">Regenerate backup up codes</button>
        </a>
        <ul>
            {% for code in user.otp.backup_codes %}
                <li>{{ code }}</li>
            {% endfor %}

        <p> You have {{ user.otp.backup_codes | count }} backup codes remaining.</p>
        </ul>
    {% else %}
        <p><a href="{{ url_for('auth.enable_2fa') }}"><button>Enable 2FA</button></a></p>
	{% endif %}


    <p>Disk Usage: {{ disk_use | filesizeformat }}</p>
    </section>
{% endblock %}