{% extends 'master.html' %}
{% block id %}
{%  include 'profile/idbar.html' %}
{% endblock %}
{% block content %}

    <section class="control_panel">
    <form method=POST action="{{ url_for('profile.edit_profile', username=current_user.username) }}" >
        <fieldset>
            <legend>User Profile for {{ current_user.username }}</legend>
            <div>{{ form.fullname.label }}{{ form.fullname }}</div>
            <div>{{ form.location.label }}{{ form.location }}</div>
            <div>{{ form.avatar_url.label }}{{ form.avatar_url }}</div>
            <div>{{ form.avatar_text.label }}{{ form.avatar_text }}</div>
            {{ form.submit }}
            {{ form.csrf_token }}
        </fieldset>
    </form>

    <p><a href="{{ url_for('auth.change_password') }}"><button>Change Password</button></a>
    {% if tfa  %}
	    <p>Two factor authentication enabled</p>
    {% else %}
        <p><a href="{{ url_for('auth.enable_2fa') }}"><button>Enable 2FA</button></a></p>
	{% endif %}
    </section>
{% endblock %}