{% extends 'master.html' %}
{% block id %}
{%  include 'profile/idbar.html' %}
{% endblock %}
{% block content %}
	<section class="control_panel">
	{% if filedata %}
		Total quota use: {{  filedata | sum(attribute='size') | filesizeformat }}
		{% for file in filedata %}
			<p>Filename: {{ file['name'] }}
			{% if file['avatar'] %}
			Current Avatar
			{% endif %}
			{% if file['picture'] %}
			Current Picture
			{% endif %}
			{% if file['resize'] %}
				Resized, click for full.
				<p><a href="{{ url_for('media', filename='users/{}/{}'.format(user.username, file['name'])) }}"><img src={{ url_for('media', filename='users/tn/tn_{}'.format(file['name'])) }}></a>
			{% else %}
				<p><img src="{{ url_for('media', filename='users/{}/{}'.format(user.username, file['name'])) }}">
			{% endif %}
			<p>URL: {{ url_for('media', filename='users/{}/{}'.format(user.username, file['name'])) | safe}}
			<p>Size: {{ file['size'] | filesizeformat }} Dimensions: {{ file['w'] }} x {{ file['h'] }}
		{% endfor %}
	{% else %}
		No files
	{%  endif %}
	</section>
{% endblock content %}
