{% extends 'master.html' %}
{% block id %}
{% include 'profile/idbar.html' %}
{% endblock %}
{% block content %}
	<section class="control_panel">
	{% if filedata %}
		<h3>Total disk use: {{  filedata | sum(attribute='size') | filesizeformat }}</h3>
    {% for file in filedata %}
        <section class="file_desc">
        {% if file['resize'] %}
            <figure>
            <a href="{{ url_for('media', filename='users/{}/{}'.format(user.username, file['name'])) }}"><img src={{ url_for('media', filename='users/tn/tn_{}'.format(file['name'])) }}></a>
            <figcaption>Resized, click for full.</figcaption>
            </figure>
        {% else %}
            <figure>
                <img src="{{ url_for('media', filename='users/{}/{}'.format(user.username, file['name'])) }}">
            </figure>
        {% endif %}
        {% if file['avatar'] %}
            Current Avatar
        {% endif %}
        {% if file['picture'] %}
            Current Picture
        {% endif %}
        Filename: {{ file['name'] }}
        URL: {{ url_for('media', filename='users/{}/{}'.format(user.username, file['name'])) | safe}}
        Size: {{ file['size'] | filesizeformat }} Dimensions: {{ file['w'] }} x {{ file['h'] }}
        </section>
    {% endfor %}

    {% else %}
		No files
	{%  endif %}
	</section>
{% endblock content %}
