<nav class="profile">
	<ul>
		<li>
			<a href="{{ url_for('front_page.home_page') }}">News page</a>
		</li>
		<li {% if active_page == 'profile' %} class="active" {% endif %}>
			<a href="{{ url_for('profile.view', username=current_user.username) }}">
			View Profile</a>
		</li>
		<li {% if active_page == 'edit' %} class="active" {% endif %}>
			<a href="{{ url_for('profile.edit_profile', username=current_user.username) }}">
			Edit Profile</a>
		</li>
		<li {% if active_page == 'file_manage' %} class="active" {% endif %}>
			<a href="{{ url_for('profile.manage_files', username=current_user.username) }}">
			Manage Files</a>
		</li>
		<li {% if active_page == 'edit_signature' %} class="active" {% endif %}>
			<a href="{{ url_for('profile.edit_signature', username=current_user.username) }}">
			Edit Signature
			</a>
		</li>
	</ul>
</nav>