{% extends 'master.html' %}
{% block id %}
{%  include 'profile/idbar.html' %}
{% endblock %}


{% block content %}

	{% block nav %}
		{% set active_page = 'profile' %}
		{% include 'profile/navigation.html' %}
	{% endblock %}

    <section class="control_panel">
	    <dl>
	        {% if current_user.is_authenticated %}
		        <dt>Location: </dt><dd>{{ user.location or "None provided"}}<dd>
		    {% endif %}
	        <dt>Time Zone:</dt> <dd>{{ user.timezone }}<dd>
	        <dt>Threads Created:</dt> <dd>{{ user.get_thread_count() }}<dd>
	        <dt>Threads Posted To:</dt> <dd>{{ user.posted_to or "N/A"}}</dd><dd>
	        <dt>Post Count:</dt> <dd>{{ user.get_post_count() }}<dd>
	        <dt>Average Posts per Day:</dt> <dd>{{ user.posts_per_day }}<dd>
	        <dt>Date of Registration:</dt> <dd>{{ user.registration_date | datetime_filter }}<dd>
	        <dt>Last Visit:</dt> <dd>{{ user.last_seen | datetime_filter }}<dd>
	        <dt>Title Text:</dt> <dd>{{ user.avatar_text | safe }}</dd>
	    </dl>
	    <div class="picture">
		    <h2>Picture:</h2>
		    <img src="{{ user.picture_url }}">
	    </div>
	    {% if user.username == current_user.username %}
	        <p><a href="{{ url_for('profile.edit_profile', username=user.username) }}">Edit profile</a>
	    {% endif %}

	{% if user.username == current_user.username %}
		<p><a href="{{ url_for('profile.manage_files', username=user.username) }}">File management</a>
	{% endif %}
	</section>

{% endblock %}