{% extends 'master.html' %}
{% block id %}
{% endblock %}
{% block content %}
<section class="control_panel">
    <form method=POST enctype="multipart/form-data" >
        <fieldset>
            <legend>Select File to upload</legend>
            <div><label class="file_upload">Upload file</label>
            </div>
            {{ form.upload_file }}
{#            {{ form.submit }}#}
{#            {{ form.next }}#}
            {{ form.csrf_token }}

        </fieldset>
	    </form>
</section>
{% endblock %}
