{% extends 'master.html' %}
{% block id %}{% endblock %} {# Suppress id line on login page#}
{% block content %}
    <form method="POST" class="registration_form" action="{{ url_for('auth.change_password') }}">
        <fieldset>
        <legend>Change Password</legend>
            <div>{{ form.current.label }}
            {{ form.current }}</div>
            <div>{{ form.new.label }}
            {{ form.new }}
            </div>
            <div>{{ form.confirm_new.label }}{{ form.confirm_new }}</div>
            {{ form.submit }}
        {{ form.csrf_token }}
        </fieldset>
    </form>
{% endblock content %}