{% extends 'master.html' %}
{% block id %}{% endblock %} {# Suppress id line on login page#}
{% block content %}
    <form method="POST" class="registration_form" action="{{ url_for('auth.reset_password', token=token)}}">
        <fieldset id="registration_fields">
        <legend>Password Reset</legend>
            <div>
            {{ form.email.label }}
                {{ form.email }}
            </div>
            <div>{{ form.password.label }}{{ form.password }}</div>
            <div>{{ form.verify_password.label }}{{ form.verify_password }}</div>
            {{ form.token }}
            {{ form.submit }}
        {{ form.csrf_token }}
        </fieldset>
    </form>
{% endblock content %}