body {
	font-family: 'Verdana', 'Geneva', sans-serif;
	font-size: 11px;
}

a:link {
	text-decoration: none }

a:visited { 
	text-decoration: none
}

a:hover { 
	color: #FFFF44;
	text-decoration: none 
}

a:active { 
	text-decoration: none
}

.tiny {
	font-size: 9px;
	}

.small {
	font-size: 11px;
}

.med { font-size: 13px;
}

.large { font-size: 15px;
}

.larger {
	font-size: 18px;
}

.text_menu { 
	font-size: 11px; 
	font-weight: bold; 
}