@import "sabotage.css";

html {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	background-color: #000000;
	color: #ffffff;
    height: calc(100% - 2px);
}

.container {
    margin: auto;
    height: 100%;
}

p.tiny {
	margin: 1px;
	padding-left: 4px;
}

p.navlink {
	font-weight: bold;
	color: orange;
	margin-top: 1px;
	margin-bottom: 1px;
	margin-left: 2px;
}

p.navlink a:link, a:visited{
	color: orange;
}

p.navlink a:hover, a:active{
	color: yellow;
}

a.forum_link:link , a.forum_link:visited {
	color: orange;
}

a.forum_link:hover, a.forum_link:active {
	color: yellow;
}

span.timestamp {
	color: #90EE90 	;
}

span.author {
	font-weight: bold;
}

#content {
	position: relative;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

#banner {
	margin-left: auto;
	margin-right: auto;
	width: 920px;
	padding: 6px 0 15px;
}

.header {
	background-color: #004499;
	font-family: 'Verdana', 'Geneva', sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding-bottom: 2px;
	padding-left: 10px;
}

#nav {
    margin: auto;
    width: 900px;
    min-height: 150px;
}

a.navlink {
	margin: 0;
}

.navbox {
	background-color: #222222;
	border: 1px solid #004499;
}

#site_contents {
	position: relative;
	float: left;
	padding: 0;
	margin: 0;
	width: 105px;
}

#recent_posts {
	position: relative;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

#text_area {
	position: relative;
}

#calendar {
	position: relative;
	float: left;
	min-height: 2em;
	width: 136px;
}

#articles {
	padding-top: 12px;
	clear: both;
}

article h3 {
	color: orange;
	font-size: 12pt;
	font-weight: bold;
	margin-bottom: 0;
}

article {
	clear: both;
	padding-top: 10px;
}

article img{
	padding-right: 4px
}

a:link,  a:visited {
	color: orange;
}

a:hover,  a:active {
    color: yellow;
}

article footer {
    clear: both
}

.submitter {
	color: #90EE90;
}

.footer {
	margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 1024px
}

legend {
	border: 1px solid #ffffff;
    background: #1b1b1b;
	padding: 3px;
	font-weight: bold;
}

nav.profile {
    background-color: #1f1f1f;
    position: fixed;
    top: 145px;
    width: 145px;
    height: 100%;
}

nav.profile ul {
    list-style: none;
    position: relative;
    top: 30px;
    padding: 2px;
}

nav.profile ul > li {
    height: 40px;
    width: 100%;
    text-align: center;
    background-color: rgb(65, 64, 64);
    -webkit-border-radius: 2px;
    -moz-border-radius:2px;
    border-radius: 2px;
}

nav.profile ul > li a {
    position: relative;
    top: 10px;
}

nav.profile ul > li.active {
    pointer-events: none;
    cursor: default;
    background-color: #191818;
}

section.file_manage {
    margin: auto;
    width: 85%;
    position: relative;
    top: 175px;
    left: 15px;
    z-index: 50;
}

.clear {
    content: "";
    clear: both;
}

section.control_panel {
    position: relative;
    top: 175px;
    left: 170px;
    width: 670px;
    float: left;
    word-wrap: break-word;
}

div.edit_container {
	position: relative;
	top: 175px;
}

section.compose {
    float: left;
    width: 512px;
}

section.preview {
	float: left;
	padding-left: 30px;
	padding-top: 14px;
	padding-right: 20px;
	max-width: 600px;
	min-width: 512px;
	min-height: 300px;
}

section.control_panel dl:after {
    display: table;
    width: 600px;
}

section.control_panel dt {
    width: 200px;
    font-size: 16px;
    float: left;
    clear: left;
}

section.control_panel dd {
    margin-left: 300px;
    font-size: 16px;
}

div.picture {
    top: 0;
    left: 700px;
    position: absolute;
}

form {
    margin-top: 5px;
    width: 512px;
}

form label {
    font-weight: bold;
    padding: 2px;
}

form label:after {
    content: ":";
}

fieldset {
	border: 1px solid #ffffff;
    background: #1f1f1f;
}

form label {
	min-width: 150px !important;
	float: left;
    height: 1.5em;
    margin: 2px;
}

form input {
    height: 1.5em;
    border-radius: 2px;
    margin: 2px;
    width: 250px;
}

select {
    height: 22px;
    border-radius: 2px;
    margin: 2px;
    width: 256px;
}

form input[type='file'] {
    height: 20px;
}

form input[type='checkbox'] {
    width: auto !important;
	height: 20px;
}

textarea {
    width: 500px;
    height: 500px;
}

img.qrcode {
    background: #ffffff;
}

section.idbar {
    background: #1f1f1f;
    padding: 10px;
    overflow: hidden;
    position: fixed;
    height: 145px;
    width: 100%;
    z-index: 900;
}

section.idbar img {
    float: left;
    height: 125px;
    width: auto;
    z-index: 999;
    border: 2px inset;
}

h1.idbar, h2.idbar{
    position: relative;
    margin: 0;
    top: 10px;
    left: 15px;
}

p.idbar {
    position: relative;
    margin: 0;
    top: 25px;
    left: 15px;
}

.file_desc {
    padding: 2px;
}

.file_desc:nth-child(odd){
    background: #1f1f1f;
}

.file_desc img {
    position: relative;
    display: inline-block;
    padding-right: 5px;
}

span.caption {
    display: block;
}

.file_desc p {
    margin: 0;
    padding: 0;
}
.file_desc > div {
    display: inline-block;
    vertical-align: text-top;
	width: 360px;
    min-height: 120px;
}

div.img_controls{
	float: right;
	text-align: end;
}

div.img_data {
	left: 10px;
}

button.control {
	border-radius: 3px;
	box-shadow: #222222;
	clear: both;
	float: right;
	margin-top: 2px;
	margin-bottom: 2px;
	width: 120px;
	height: 20px;
}

button.upload {
	position: relative;
	float: none;
	height: 30px;
	top: 10px;
}

button.upload > svg {
	fill: #575656;
}

button > svg{
	width: 16px;
	height: 16px;
	float: right;
}

button.picture_link > svg {
	fill: #4e8039;
}

button.avatar_link > svg {
	fill: #00f;
}

button.delete_link > svg {
	fill: #f00;
}
button.download_link > svg {
	fill: #595959;
}

button.inactive {
    opacity: 0.75;
}

button#change_password {
    margin-top: 5px;
}


#flask-pagedown-body-preview {
    padding-left: 20px;
}

table {
    background: #001123;
    border: 1px solid #004499;
}

th {
    font-weight: bold;
    background: #004499;
}

tr:nth-child(2n){
    background: #0a0a1e;
}

ul.asset_list {
    list-style: none;
}
