{% extends 'master.html' %}
{% block content %}

<div id="container">
	<div id="banner">
		<img src="{{ url_for('media', filename='img/cover_60.jpg') }}" height="180" width="920" alt="Banner">
	</div>
<div id="content">
    {% include 'front_page/navigation.html' %}
    {% for article in articles %}
         <article>
            {% include 'front_page/article.html' %}
        </article>
    {% endfor %}
</div><!-- close content div -->

{#        <footer><span class="vert_center"><a href="page=oldnews">older news...</a></span></footer>#}
{#        <footer><a href="page=oldnews">older news...</a></footer>#}

</div> <!-- close Container div -->

{#        <div class="footer">Other crap</div>#}
<!-- close Container div -->
{% endblock %}


