{% extends 'master.html' %}
{% block additional_scripts %}
{% include 'twitterjs_include.html' %}
<script src="{{ url_for('static', filename='helpers.js') }}"></script>
{% endblock %}
{% block content %}

	<div id="banner">
		<img src="{{ url_for('media', filename='img/cover_60.jpg') }}" height="180" width="920" alt="Banner">
	</div>
    {% include 'front_page/navigation.html' %}
	<div id="content">

    {% for article in articles %}
         <article>
            {% include 'front_page/article.html' %}
        </article>
    {% endfor %}


       <footer><a href="page=oldnews">older news...</a></footer>
</div><!-- close content div -->
<script>
	$(document).ready(function() {
		var elems = get_post_elements();
		twttr.ready(function (twttr) {
			process_twitter_urls(elems);
		});

		process_youtube_urls(elems);
	});

</script>
{% endblock %}


