{% extends 'master.html' %}
{% block id %}
{% include 'profile/idbar.html' %}
{% endblock %}
{% block headers %}
{{ pagedown.include_pagedown() }}
{% endblock %}
{% block content %}
    <section class="compose">
    <form method=POST action="{{ url_for('front_page.new_article') }}" >
        <fieldset>
            <legend>Edit existing article</legend>
	        <div>{{ form.title.label }}
	        {{ form.title }}</div>
			<div>{{ form.visibility.label }}
			{{ form.visibility }}</div>
	        <div>{{ form.body.label }}
	        {{ form.body(only_input=True) }}</div>
	        {{ form.submit }}
            {{ form.csrf_token }}
        </fieldset>
    </form>
    </section>
	<section class="preview">
	Preview
	{{ form.body(only_preview=True) }}
	</section>
{% endblock %}
